body {
    max-width: 800px;
    margin: auto;
    font-family: Georgia, serif;
    padding: 1em;
}

.page-title {
    text-align: center;
    background-color: #eee;
    border-radius: 5px;
    padding: 1px;
}

footer {
    text-align: center;
    margin-bottom: 8px;
}
