@media all and (max-width: 450px) {
  /* Hide text in the home button on mobile devices*/
  nav a span {
    display: none;
  }
  h1 {
    font-size: 2rem;
  }
}

body {
  font-family: 'Trebuchet MS', sans-serif;
  display: grid;
  height: 100vh;
  width: clamp(25ch, 90%, 100ch);
  margin: auto;
  grid-template-rows: auto 1fr auto;
  font-size: 20px;
  line-height: 1.5;
}

main {
  margin: auto;
}

.writting {
  max-width: 60ch;
}

.writting-list li {
  margin-bottom: 5px;
}

nav {
  display: flex;
  gap: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

code {
  background: lightgrey;
  border-radius: .4rem;
  font-size: 86%;
  padding: .2rem .5rem;
  overflow: auto;
  display: inline-flex;
}

.flex-push-right {
  margin-left: auto;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

footer {
  text-align: center;
  padding-bottom: 1.5rem;
}

footer a {
  opacity: 0.7;
}

footer a:hover {
  opacity: 1;
}

footer div {
  opacity: 0.7;
}

footer ul {
  list-style: none;
  text-align: center;
  padding-left: 0px;
  margin: 0px;
}
footer ul li {
  display: inline-block;
  margin-right: 5px;
}
p {
  margin-bottom: 25px;
  text-align: justify;
}
