<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patricio Del Boca - {{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">> <span>pdelboca</span></a>
        <a class="flex-push-right" href="/writings.html">writings</a>
        <a href="/projects.html">projects</a>
        <a href="/about.html">about</a>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
    <footer>
      <div><p>© Patricio Del Boca 2016 - 2025</p></div>
      <ul>
        <li><a aria-label="Github" href="https://github.com/pdelboca" target="_blank">Github</a></li>
        <li><a aria-label="Bluesky" href="https://bsky.app/profile/pdelboca.me" target="_blank">Bluesky</a></li>
        <li><a aria-label="Linkedin" href="https://www.linkedin.com/in/patriciodelboca/" target="_blank">Linkedin</a></li>
        <li><a aria-label="Curriculum Vitae" href="/static/pdfs/cv.pdf">CV</a></li>
      </ul>
    </footer>
  </body>
</html>
